/* styles.css */
body {
    background-image: url('background.jpg'); /* Replace 'background.jpg' with your background image path */
    background-size: cover;
    background-position: center;
}

.container {
    height: 100%;
}

.form-group label {
    font-weight: bold;
}

.btn-primary {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary:hover {
    background-color: #218838;
    border-color: #218838;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}
body{
background-color: #e5e5f7;
opacity: 1;
background-image: radial-gradient(#020311 0.5px, #e5e5f7 0.5px);
background-size: 10px 10px;
}